* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/DSC_8526.jpg");
    background-size: cover;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 35px;
    background-image: url("../images/DSC_8006.jpg");
    background-size: cover;
    background-position: 0px 0px;
    display: flex;
    align-items: flex-start;
    padding: 30px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: auto;
    height: auto;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-me {
    margin-bottom: 20px;
    padding: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: beige;
    display: flex;
}

.work {
    margin-bottom: 20px;
    padding: 20px;
    height: 500px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    display: flex;
    align-items: flex-start;
    background-color: blanchedalmond;
}

.runbuddy-image {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.SEO-image {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.national-mapper-image {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.contact-me {
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    flex-wrap: nowrap;
    display: block;
}

.about-me img {
    max-height: 200px;
}

.footer {
    background: gray;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footgier h2 {
    color: black;
    font-size: 20px;
    margin: 0;
}
.footer div {
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 80%;
    }
  }
  

  @media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
      }
    
      .step h3 {
        flex: 1 100%;
        text-align: center;
      }
    
      .contact-me {
        flex: 2 100%;
        text-align: left;
        justify-content: center;
      }
    
      .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
      .step-text {
        flex: 100%;  
      }
    
    }
  

  @media screen and (max-width: 575px) {
    
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .contact-me {
        text-align: left;
      }
    
      .contact-me > * {
        flex: 0 100%;
      }
    }   

    